@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

div.todo {
  @include flex;
  height: 100%;
  &:not(.add-new-todo) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 10px;
  }
  &.background-wrapper {
    border-bottom: 0;
    margin: 0;
    transform: scale(1);
    transition: 0.35s ease-out transform;
    &:active {
      transform: scale(0.99);
      transition: 0.05s linear transform;
    }
    &:hover {
      background-color: $hover-bg-color;
      span { background-color: $hover-bg-color; }
    }
  }
  &.empty {
    max-height: 56px;
  }
  .added-todo {
    @include flex;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    padding: 5.5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .task-title-wrapper {
      width: 100%;
      margin-left: 10px;
    }
  }
}