@mixin flex {
  display: flex;
  align-items: center;
}

.user-settings-page.active {
  position: absolute;
  width: 100%;
  height: 100%;
  section { section { margin: 20px 0 10px; } };
  h5 { margin-bottom: 20px; }
  .settings-header {
    @include flex;
    margin: 30px 15px 20px;
    button.close-settings {
      color: cornflowerblue;
      display: inline-block;
      padding: 6px 12px;
      font-size: 20px;
      &:hover { background-color: lightgrey; }
    }
    h2 { margin: 0 0 0 20px; }
  };
  .settings-general-info {
    overflow-y: auto;
    height: 85vh;
    max-height: 100%;
    padding: 30px 50px 10px 150px;
    & > * { width: 100%; };
    section {
      a, button {
        margin-top: 5px;
        color: cornflowerblue;
        text-decoration: underline;
        padding: 0;
        border: 0;
        margin-right: auto;
        display: block;
      }
    }
    .help-feedback,
    .about-section {
      a {
        display: block;
        width: fit-content;
      }
    }
    .about-section {
      p:nth-child(3),
      p:nth-child(4) {
        color: #555555;
        display: inline-block;
      }
    }
    .user-manage {
      @include flex;
      & > div {
        * { margin: 0 0 0 20px; }
        p { color: #a0a2a5; }
      }
      a {
        margin: 0 0 0 auto;
        padding: 6px 10px;
        font-weight: bolder;
        text-decoration: none;
        border: 2px solid transparent;
        &:active {
          background-color: slategray;
          color: black;
        }
        &:hover { border: 2px solid slategray; }
      }
      span {
        width: 70px;
        height: 70px;
        @include flex;
        justify-content: center;
        background-color: lightgray;
        border-radius: 50%;
        font-size: 10px;
      }
    }
    .general-sets {
      flex-flow: column wrap;
      align-items: flex-start;
      div.toggle-wrapper {
        @include flex;
        height: 24px;
        margin: 5px 0;
        p {
          line-height: normal;
          margin-left: 10px;
        }
      }
      .react-toggle-track {
        width: 40px;
        height: 18px;
      }
      .react-toggle-thumb {
        width: 12px;
        height: 12px;
        top: 3px;
        left: 3px;
      }
      .react-toggle--checked {
        .react-toggle-track { background-color: royalblue; }
        .react-toggle-thumb { left: 24px; }
      }
    }
    .theme-sets {
      p { margin-bottom: 15px; }
      label.lightTheme-label,
      label.darkTheme-label {
        position: relative;
        float: left;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        & > span {
          @include flex;
          background-color: #ffffff;
          width: 20px;
          height: 100%;
          justify-content: center;
          border: 1px solid darkgray;
          border-radius: 50%;
          color: white;
        }
        &.checked > span {
          background-color: royalblue;
          &:after {
            content: '\2022';
            font-size: 32px;
            position: absolute;
            top: -14px;
          }
        }
      }
    }
    .import-todos {
      p { margin-bottom: 8px; }
    }
    #session-id {
      border: 0;
      color: #555555;
      margin: 0;
      width: 100%;
      max-width: 300px;
    }
  }
}