@import "../../styles/_mixins.scss";
@import "../../styles/variables";

.task-settings {
  background-color: lightgray;
  height: 100%;
  position: relative;
  width: 450px;
  & > div { display: flex; }
  i { color: cornflowerblue; }
  .step-title {
    @include flex;
    background-color: #ffffff;
    padding: 5px 10px;
    .steps-trash { display: none; }
    p { padding: 5px; }
    &:hover .steps-trash {
      display: inline-flex;
      margin: 0 5px 0 auto;
      background-color: transparent;
      border: 0;
      font-size: 16px;
    }
  }
  label.toggle-step-label,
  label.toggle-step-label-template {
    width: 14px;
    height: 14px;
    margin-left: 3px;
    i { font-size: 14px; }
  }
  ul {
    li {
      @include flex;
      p {
        width: 100%;
        &.added { color: cornflowerblue; }
      }
      button.clear-from-my-day {
        width: 50px;
        height: 44px;
        border: 0px;
        background-color: inherit;
        p { padding: 2px 4px; }
        &:hover { background-color: rgb(221, 221, 221); }
      }
    }
  }
  .activateStepInput {
    border-radius: 0;
    width: 100%;
    padding: 10px 10px 10px 14px;
    font-size: 14px;
    background-color: #ffffff;
    color: cornflowerblue;
    cursor: pointer;
    text-align: initial;
    span {
      margin-right: 5px;
      font-size: 13px;
      line-height: normal;
    }
  }
  .add-new-step-wrapper {
    @include flex;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    width: 100%;
    line-height: 1.1;
    .add-new-step-input {
      display: block;
      border: 0;
      margin: 0 0 2px 5px;
      &::placeholder {
        font-size: 14px;
        padding-left: 0;
        color: darkslateblue;
      }
    }
  }
  .task-settings-title {
    @include flex;
    padding: 35px 10px 20px;
    line-height: 1;
    font-size: 20px;
    font-weight: bolder;
    background-color: #ffffff;
    p { margin: 0 auto 0 10px; }
    .important-icon { font-size: 18px; }
  }
  .task-middle-settings-wrapper {
    flex-flow: column;
    max-height: 520px;
    overflow-y: auto;
  }
  .DayPicker.pick-date-calendar .DayPicker-wrapper,
  .task-settings-additional .rc-calendar-panel {
    position: absolute;
    border: 1px solid #888888;
    background-color: #ffffff;
    text-align: center;
  }
  .task-settings-additional {
    background-color: #ffffff;
    margin: 10px;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        padding-left: 10px;
        &:hover {
          cursor: pointer;
          background-color: $hover-bg-color;
        }
        p {
          padding: 10px;
          border-bottom: 1px solid lightgray;
          &:last-of-type p {
            border: 0;
          }
        }
      }
    }
    .reminder-window {
      overflow: hidden;
      max-height: 353px;
      width: 274px;
      height: 0;
      position: absolute;
      right: 20px;
      &.active { height: fit-content; }
      &.show-remind-calendar, &.show-due-calendar { height: 100%; }
      & > div:not(.custom-day-picker):not(.repeat-date-picker-wrapper) {
        width: 100%;
        border: 1px solid #888888;
        background-color: #ffffff;
        padding: 0;
      }
      ul {
        li {
          border: 0;
          padding-left: 10px;
          span { margin: 0 5px 0 auto; }
          p {
            border: 0;
            width: auto;
          }
          &:last-of-type { border-top: 1px solid lightgray; }
        }
      }
    }
    .repeat-window {
      @extend .reminder-window;
      &.active { height: 228px; }
      ul {
        li {
          border: 0;
          padding-left: 10px;
        }
      }
    }
    .activeOption { color: cornflowerblue; }
    .remind-me {
      & > div:first-of-type {
        @include flex;
        width: 100%;
      }
      line-height: 25px;
      & .pick-date-calendar {
        display: contents;
        width: 100%;
      }
      &.activeOption {
        line-height: 20px;
        & > div {
          & > p { padding-top: 3px; padding-bottom: 3px; }
          & > span { color: #000000; }
        }
      }
    }
    .due-date, .repeat { @extend .remind-me }
    .due-date.activeOption > div > p {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 25px;
    }
    .repeat {
      div {
        p:last-of-type,
        span:last-of-type { border-bottom: 0; }
      }
    }
    span {
      &.clear-due-date {
        line-height: 46px;
        padding: 0 15px;
        border-bottom: 1px solid lightgray;
        &:hover { background-color: rgb(221, 221, 221); }
      }
      &.clear-repeat, &.clear-remind-date { @extend .clear-due-date; }
      &.date-label {
        display: block;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 1365px) {
  .task-settings-additional .reminder-window ul,
  .task-settings-additional .repeat-window ul { right: 16px }
}