@import "./variables";
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

@mixin flex {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  p { margin: 0; }
  button {
    background-color: transparent;
    border-color: transparent;
  }
  #root {
    height: 100%;
    min-height: 100vh;
    background-color: grey;
  }
  .modal-header {
    border: 0;
    button.close {
      position: absolute;
      right: 25px;
      top: 25px;
      font-size: 20px;
      line-height: .8;
      padding: 10px;
      border-radius: 0;
      text-shadow: none;
      &:hover {
        background-color: $hover-bg-color;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    &:hover { background: #555; }
  }
}

audio { visibility: hidden; }

.confirmDeleteModal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  .confirmDeleteModal-child {
    position: relative;
    background-color: #ffffff;
    max-width: 300px;
    top: calc(50% - (300px/2));
    margin: 0 auto;
    padding: 25px 20px;
    .button-group {
      display: table;
      margin: 30px 0 0 auto;
      button {
        border-radius: 0;
        &.delete-button {
          margin-right: 10px;
          background-color: #dc3545;
          border-color: #dc3545;
        }
        &.cancel-button {
          background-color: rgb(221, 221, 221);
          border-color: rgb(221, 221, 221);
        }
      }
    }
  }
}

button.dots-menu {
  min-width: 40px;
  min-height: 36px;
  border: 0;
  border-radius: 0;
  margin: 15px;
  position: relative;
  filter: opacity(.5);
}

button.open-greeting {
  @extend button.dots-menu;
  padding: 6px 12px;
  border: 0;
  .fa-lightbulb { color: #fff; }
}

label.toggleTaskLabel,
label.toggle-step-label-template,
label.toggle-step-label,
label.toggle-todo-label {
  @include flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  border: 1px solid darkgray;
  border-radius: 50%;
  margin: 0;
  i {
    color: darkgray;
    font-size: 21px;
    &.far { visibility: hidden; }
  }
  &:hover i { visibility: visible; }
  &.done {
    border-color: limegreen;
    i { color: limegreen; }
  }
}

.greetings-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3771ce;
  padding: 50px 20px;
  color: #ffffff;
  z-index: 1;
  .greeting-header-section {
    @include flex;
    width: 100%;
    justify-content: space-between;
    margin: 15px 0;
    .done-greetings { color: #ffffff; }
    button {
      background-color: blue;
      border: 0;
      padding: 10px 15px;
    }
  }
  .greeting-suggestion-yesterday {
    background-color: #ffffff;
    color: #2e2f30;
    flex-flow: column;
    margin-bottom: 10px;
    .done-tasks-indicator {
      width: 100%;
      height: 2px
    }
    header {
      @extend .greeting-header-section;
      padding: 10px;
      border-bottom: 1px solid darkgray;
      h5 { margin-bottom: 2px; }
      p {
        display: flex;
        color: #5c6066;
        font-weight: 700;
        font-size: 14px;
      }
      button {
        border: 0;
        margin: 0 10px;
      }
    }
    section {
      padding: 10px;
      p:last-of-type { font-size: 12px; }
    }
    button.collapse-suggestions {
      padding: 4px 12px;
      background-color: rgba(221, 221, 221, 0.7);
      &:hover { background-color: rgba(221, 221, 221, 1); }
    }
  }
  .greeting-suggestion-section {
    @extend .greeting-suggestion-yesterday;
    header { margin-bottom: 0; }
    div {
      p.task-parent-title {
        color: #5c6066;
        font-weight: 700;
        font-size: 12px;
      }
      &.suggested-tasks {
        display: flex;
        position: relative;
        border-bottom: 1px solid darkgray;
        button {
          margin-right: 10px;
          border: 0;
          color: cornflowerblue;
          background-color: transparent;
          &:hover { background-color: rgba(221, 221, 221, 1); }
          &:first-of-type { font-size: 28px; }
          &.add-me-btn {
            @include flex;
            margin: 10px;
            width: 30px;
            height: 30px;
            & span { line-height: 1; }
          }
          &.tasks-settings-btn {
            font-size: 12px;
            padding: 0 10px;
            margin: 8px 20px 8px auto;
          }
        }
        .suggested-tasks-settings {
          right: 4px;
          bottom: 45px;
          min-width: 170px;
          position: absolute;
          background-color: #fff;
          border: 1px solid lightgray;
          & div {
            @include flex;
            padding: 10px 30px 10px 10px;
            &:hover { background-color: rgba(221, 221, 221, 1); }
            i { margin-right: 10px }
            &:last-of-type { color: red; }
          }
        }
      }
    }
    .suggested-task-parent {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.search-modal {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  hr { margin-top: 0.5rem; }
  input { width: 100%; }
  div > img {
    width: 50%;
    margin: 0 auto;
  }
  div.search-background-wrapper {
    @include flex;
    padding: 40px 0 10px 10px;
    justify-content: space-between;
    div.search-input-wrapper {
      position: relative;
      width: 100%;
    }
  }
  button.set-filter {
    padding: 2px 10px;
    color: cornflowerblue;
    font-size: 13px;
  }
  .filter-menu {
    font-size: 12px;
    position: absolute;
    right: 5px;
    padding: 4px 15px;
    background-color: #fff;
    border: 1px solid darkgrey;
    top: 74px;
    p { cursor: pointer; }
  }
  .clearSearch {
    position: absolute;
    top: 0;
    right: 0;
    color: cornflowerblue;
    background-color: transparent;
    border-color: transparent;
  }
}

#lightTheme,
#darkTheme,
#toggleTodoCheckbox,
#searchTaskCheckbox,
#addStepCheckbox-template {
  position: absolute;
  opacity: 0;
}

p.lineThrough { text-decoration: line-through; }

.rename-list-wrapper {
  width: 100%;
  margin-left: 8px;
  padding: 8px;
  background-color: #fff;
  input.rename-list {
    font-family: inherit;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    color: black;
    background-color: transparent;
    border: 0 solid transparent;
  }
}

.active { display: block; }
.inactive { display: none; }

.task-notes {
  @include flex;
  font-size: 12px;
  max-height: 20px;
  justify-self: left;
}

.task-settings-footer {
  @include flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding: 5px;
  button {
    .task-settings-trash,
    .task-settings-arrow-right {
      color: cornflowerblue;
      display: inline-block;
      padding: 6px 12px;
      font-size: 20px;
      margin-right: 10px;
      i { font-size: 25px; }
      &:hover { background-color: lightgrey; }
    }
    &:hover {
      cursor: pointer;
      background-color: $hover-bg-color;
    }
  }
  p {
    font-size: 13px;
    width: 100%;
  }
}

button.change-todo-icon {
  @include flex;
  margin: 0 0 0 auto;
  padding: 0 12px;
  border: 0;
  .fa-plus-circle { color: cornflowerblue; }
}

.important-icon {
  i { color: cornflowerblue; }
}

div.searchList {
  list-style-type: none;
  padding: 0 10px;
  margin: 0;
  width: 100%;
  height: 550px;
}

.task-settings-add-to-my-day {
  margin: 10px;
  background-color: #ffffff;
  ul {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 0;
    width: 100%;
    &:hover {
      cursor: pointer;
      background-color: $hover-bg-color;
    }
    li p { padding: 10px; }
  }
}

.task-settings-add-note {
  padding: 10px;
  margin: 10px;
  flex-flow: column;
  min-height: 178px;
  display: flex;
  background-color: #ffffff;
  .btn-group { margin-left: auto; }
  button {
    margin-left: 10px;
    border: 0;
    padding: 5px 10px;
  }
  textarea {
    outline: 0;
    border: 0;
    resize: none;
    &::placeholder { color: cornflowerblue; }
  }
}

.light {
  background-color: #ffffff;
  color: #2e2f30;
  transition: background-color 0.35s ease-out, color 0.35s ease-out;
  .user-settings-page { @extend .light }
  .settings-general-info .user-manage a {
    color: slategray;
    background-color: lightgrey;
  }
  .user-settings {
    border: 1px solid rgba(0,0,0,.1);
    background-color: #ffffff;
  }
  .todo-list-wrapper { background-color: #ffffff; }
}

.dark {
  background-color: #2e2f30;
  color: #ffffff;
  transition: background-color 0.35s ease-out, color 0.35s ease-out;
  .user-settings-page { @extend .dark }
  .user-settings {
    border: 1px solid rgba(255,255,255,.5);
    background-color: #2e2f30;
    hr { border-top: 1px solid rgba(255,255,255,.5); }
  }
  button.user-settings-button { color: darkgray; }
  .modal-content { background-color: #2e2f30; }
  #bannerSettings {
    background-color: #2e2f30;
    .sort-settings-menu {
      & > div { background-color: #2e2f30; };
      div:hover { background-color: #5c6066; }
    }
    div.sort-settings-link {
      &:hover,
      &.grey { background-color: #5c6066; }
    }
  }
  .task-settings-title { background-color: #2e2f30 !important; }
  .task-settings-add-to-my-day,
  .task-settings-additional,
  .task-settings-add-note,
  .activateStepInput {
    @extend .dark;
    border: 1px solid #fff;
  }
  .settings-general-info .user-manage a {
    color: #ffffff;
    background-color: #5c6066;
  }
  .DayPicker.pick-date-calendar .DayPicker-wrapper { background-color: #5c6066; }
  .task-settings-additional {
    .rc-calendar-panel,
    .reminder-window ul,
    .repeat-date-picker { background-color: #5c6066; }
  }
  .add-new-list-label-wrapper {
    background-color: #1a1b1c;
    color: #ffffff;
    input { @extend .add-new-list-label-wrapper }
  }
  .clearInput { color: #000; }
  .icons-menu-wrapper {
    background-color: #5c6066;
    border-color: #888888;
  }
  .todo-list-wrapper { background-color: #2e2f30; }
  .rename-list-wrapper { background-color: rgba(92, 96, 102, 0.6); }
  .confirmDeleteModal-child,
  .add-new-step-wrapper .add-new-step-input,
  .add-new-task-wrapper .add-new-task-input,
  .task-settings-add-note textarea {
    @extend .dark;
  }
  .confirmDeleteModal-child,
  .search-modal {
    background-color: #2e2f30;
    div.background-wrapper div.search-input-wrapper input {
      @extend .dark;
      border: 1px solid lightgrey;
    }
  }
  .leftPanel ul {
    li {
      &.active { background-color: #5c6066; }
      &:not(.active):hover {
        color: darkgray;
      }
    }
  }
  .task-settings {
    border: 1px solid lightgrey;
    background-color: #1a1b1c;
    & > * { background-color: #2e2f30; }
    .step-title { background-color: #888888; }
  }
}