.app-container {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  position: relative;
  margin: auto;
  height: 100vh;
  input, input:active { outline: 0; };
  a,
  a:hover,
  button,
  button:active {
    outline: 0;
    cursor: pointer;
  };
}