@import "../../styles/variables";
@mixin flex {
  display: flex;
  align-items: center;
}

.leftPanel {
  padding: 0;
  .microsoft-label {
    width: 100%;
    margin: 5px 10px;
    color: lightslategray;
    font-size: 13px;
  }
  hr {
    margin: 8px auto;
    width: 90%;
  }
  ul {
    max-width: 100%;
    margin: 0;
    li {
      text-align: left;
      border-left: 5px solid transparent;
      &.active {
        border-left: 5px solid blue;
        background-color: lightgray;
      }
      &:not(.active):hover { background-color: #f4f6f7; }
    }
  }
  .user-info {
    @include flex;
    position: relative;
    width: 100%;
    flex-flow: column wrap;
    margin: 5px 0 10px 0;
    .user-info-buttons {
      @include flex;
      width: 100%;
      button.search {
        padding: 10px 10px;
        border: 0;
        cursor: pointer;
        i { font-size: 20px; }
        p:first-of-type {
          display: inline-block;
          margin: 0 10px;
        }
      }
      .user-settings-button {
        @extend button.search;
        @include flex;
        width: 100%;
        padding: 6px 10px;
        i { font-size: 14px; }
        span {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: lightgray;
          border-radius: 50%;
        }
      }
      & > button:hover { background-color: $hover-bg-color; }
    }
    .user-info-settings {
      overflow: hidden;
      position: absolute;
      z-index: 1;
      top: 44px;
      left: 18px;
      width: 260px;
      &.full { height: 92px; }
      &.less { height: 0; }
      .user-settings {
        &.active {
          margin-top: 0;
          transition: margin-top 0.2s ease-out;
        }
        margin-top: -92px;
        display: flex;
        flex-flow: column;
        height: 92px;
        div {
          @include flex;
          cursor: pointer;
        }
        div:first-of-type { border-bottom: 1px solid rgba(0, 0, 0, 0.1) }
        p { margin: 10px; }
        div:last-of-type {
          i.fa:last-of-type, p:last-of-type { color: red; }
        }
        i { padding: 10px; }
      }
    }
  }
  .nav-item {
    transform: scale(1);
    transition: 0.35s ease-out transform;
    &:active {
      transform: scale(0.99);
      transition: 0.05s linear transform;
    }
  }
  .nav-link {
    border: 0;
    width: 100%;
    @include flex;
    padding: 10px;
    span {
      margin: 0 10px 0 auto;
      font-size: 13px;
    }
    p { margin: 0; }
    i {
      width: 18px;
      margin-right: 10px;
      color: cornflowerblue;
    }
  }
  .custom-todo-list-wrapper {
    max-height: 415px;
    overflow: auto;
  }
  .add-new-list {
    text-align: left;
    padding: 0 15px;
    label.add-new-list-label-wrapper {
      @include flex;
      height: 44px;
      margin: 0 0 0 2px;
      i {
        color: cornflowerblue;
        margin-right: 10px;
      }
      input.add-new-list-label {
        padding: 10px 0;
        border: 0;
      }
    }
    .add-new-list-link {
      @include flex;
      width: 100%;
      padding: 0;
      & > span {
        font-size: 30px;
        margin: 0 10px 0 3px;
      }
    }
  }
}