@mixin flex {
  display: flex;
  align-items: center;
}

.leftPanel {
  padding: 0;
  .microsoft-label {
    width: 100%;
    margin: 5px 10px;
    color: lightslategray;
    font-size: 13px;
  }
  hr {
    margin: 8px auto;
    width: 90%;
  }
  ul {
    max-width: 100%;
    margin: 0;
    li {
      text-align: left;
      border-left: 5px solid transparent;
      &.active {
        border-left: 5px solid blue;
        background-color: lightgray;
      }
      &:not(.active):hover { background-color: #f4f6f7; }
    }
  }
  .nav-link {
    border: 0;
    width: 100%;
    @include flex;
    padding: 10px;
    span {
      margin: 0 10px 0 auto;
      font-size: 13px;
    }
    p { margin: 0; }
    i {
      width: 18px;
      margin-right: 10px;
      color: cornflowerblue;
    }
  }
  .custom-todo-list-wrapper {
    max-height: 415px;
    overflow: auto;
  }
  .add-new-list {
    text-align: left;
    padding: 0 15px;
    label.add-new-list-label-wrapper {
      @include flex;
      height: 44px;
      margin: 0 0 0 2px;
      i {
        color: cornflowerblue;
        margin-right: 10px;
      }
      input.add-new-list-label {
        padding: 10px 0;
        border: 0;
      }
    }
    .add-new-list-link {
      @include flex;
      width: 100%;
      padding: 0;
      & > span {
        font-size: 30px;
        margin: 0 10px 0 3px;
      }
    }
  }
}