body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100vh;
  background-color: grey;
  padding: 20px 0px;
}

body p,
#bannerSettings .sort-settings-menu > div > p {
  margin: 0;
}

.container {
  position: relative;
  height: 650px;
  max-width: 920px;
  margin: auto;
  margin-right: 18%;
}

.light {
  background-color: #ffffff;
  color: #2e2f30;
}

.dark {
  background-color: #2e2f30;
  color: #ffffff;
}

.container button,
.container input,
.container link {
  outline: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

audio {
  visibility: hidden;
}

.confirmDeleteModal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.confirmDeleteModal-child {
  position: relative;
  background-color: #ffffff;
  max-width: 300px;
  top: calc(50% - (300px/2));
  margin: 0 auto;
  padding: 25px 20px;
}

.confirmDeleteModal-child  .button-group {
  display: table;
  margin: 30px 0 0 auto;
}

.confirmDeleteModal-child  .button-group button:first-of-type {
  margin-right: 10px;
}

.confirmDeleteModal-child  .button-group button {
  border-radius: 0;
}

.row {
  height: 100%;
}

.leftPanel {
  border-right: 1px solid grey;
}

.rightPanel,
.leftPanel {
  padding: 0;
}

.user-settings-page.active {
  position: absolute;
  max-height: 650px;
  max-width: 920px;
  width: 100%;
  height: 100%;
}

.light .user-settings-page {
  background-color: #fff;
  color: #2e2f30;
}

.dark .user-settings-page {
  background-color: #2e2f30;
  color: #ffffff;
}

.settings-header,
.settings-general-info .user-manage {
  display: flex;
  align-items: center;
}

.user-settings-page section > section {
  margin: 20px 0 10px;
}

.user-settings-page section.settings-general-info {
  overflow-y: auto;
  max-height: 555px;
}

.user-settings-page section.settings-general-info .general-sets {
  flex-flow: column wrap;
  align-items: flex-start;
}

.user-settings-page section.settings-general-info > * {
  width: 100%;
}

.user-manage > div * {
  margin: 0 0 0 10px;
}

.user-settings-page img {
  width: 60px;
}

.settings-header {
  margin: 20px 30px;
}

.settings-header button {
  padding: 6px 12px;
}

.settings-header button:active {
  background-color: lightgrey;
}

.theme-sets p {
  margin-bottom: 5px;
}

.settings-general-info {
  padding: 30px 50px 10px 150px;
}

.settings-general-info section a {
  margin-top: 5px;
  color: cornflowerblue;
  text-decoration: underline;
}

.settings-general-info .user-manage a {
  margin: 0 0 0 auto;
  padding: 6px 10px;
  font-weight: bolder;
  text-decoration: none;
  border: 2px solid transparent;
}

.light .settings-general-info .user-manage a {
  color: slategray;
  background-color: lightgrey;
}

.dark .settings-general-info .user-manage a {
  color: #ffffff;
  background-color: #5c6066;
}

.settings-general-info .user-manage a:hover {
  border: 2px solid slategray;
}

.settings-general-info .user-manage a:active {
  background-color: slategray;
  color: black;
}

.settings-general-info .help-feedback a,
.settings-general-info .about-section a {
  display: block;
  width: fit-content;
}

#thirdPartyNotices {
  background-color: rgba(0, 0, 0, 0.5);
}

.panelBanner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 150px;
}

.panelBanner-wrapper{
  width: 100%;
  position: absolute;
  top: 0;
  filter: opacity(50%);
}

.panelBanner-text {
  margin: 15px;
  text-align: left;
  color: #fff;
  font-weight: 900;
  position: relative;
}

button.dots-menu {
  border-radius: 0;
  margin: 15px;
  position: relative;
  filter: opacity(.5);
}

.todo-list-wrapper {
  max-height: 500px;
  height: 100%;
  position: relative;
}

.light .todo-list-wrapper {
  background-color: #ffffff;
}

.dark .todo-list-wrapper {
  background-color: #2e2f30;
}

div.todo-list {
  text-align: left;
  width: 100%;
}

div.todo-list div.todos {
  border-bottom: 1px solid darkgray;
  padding: 10px 15px;
  height: 50px;
  display: flex;
  align-items: center;
}

.leftPanel ul {
  padding: 10px 0;
  max-width: 100%;
  margin: 0;
}

.leftPanel ul li {
  text-align: left;
  padding: 0 8px;
  border-left: 5px solid transparent;
}

.leftPanel ul li.active {
  border-left: 5px solid blue;
  background-color: lightgray;
}

.dark .leftPanel ul li.active,
.dark #bannerSettings div.sort-settings-menu div:hover,
.dark #bannerSettings div.sort-settings-link:hover,
.dark #bannerSettings div.sort-settings-link.grey {
  background-color: #5c6066;
}

.dark .task-settings {
  border: 1px solid lightgrey;
  background-color: #1a1b1c;
}

.dark .task-settings > * {
  background-color: #2e2f30;
}

.leftPanel .nav-link {
  display: flex;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
}

.leftPanel .nav-link img,
.user-settings.active img {
  width: 18px;
  margin-right: 10px;
}

.leftPanel .nav-link p,
div.sort-settings-link p {
  margin: 0px;
}

.leftPanel .nav-link span {
  margin: 0 10px 0 auto;
  font-size: 13px;
}

.search-modal {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.search-modal.active {
  z-index: 1;
}

.search-modal div.background-wrapper {
  padding: 40px 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-modal div.background-wrapper div.search-input-wrapper,
.add-new-step-wrapper .add-new-step > div,
.user-info-settings {
  position: relative;
  width: 100%;
}

.dark .confirmDeleteModal-child,
.dark .add-new-step-wrapper .add-new-step-input,
.dark .task-settings-add-note textarea,
.dark .search-modal div.background-wrapper div.search-input-wrapper input {
  background-color: #2e2f30;
  color: #ffffff;
}

.dark .confirmDeleteModal-child,
.dark .search-modal div.background-wrapper div.search-input-wrapper input {
  border: 1px solid lightgrey;
}

.search-modal hr {
  margin-top: 0.5rem;
}

.search-modal input,
.todo-list-wrapper .add-new-todo,
.add-new-todo-wrapper .add-new-todo-input,
.add-new-step-wrapper .add-new-step,
.task-settings-footer p,
.task-settings ul li p,
.rightPanel > div {
  width: 100%;
}

.search-modal div > img {
  width: 50%;
  margin: 0 auto;
}

.add-new-todo-wrapper .add-new-todo-input,
.add-new-step-wrapper .add-new-step-input {
  border-color: transparent;
}

.add-new-todo-wrapper .add-new-todo-input.inactive::placeholder,
.add-new-step-wrapper .add-new-step-input.inactive::placeholder,
.task-settings-add-note textarea::placeholder {
  color: cornflowerblue;
  padding-left: 10px;
}

.add-new-todo-wrapper .add-new-todo-input.activated::placeholder,
.add-new-step-wrapper .add-new-step-input.activated::placeholder {
  color: darkslateblue;
}

.dark .add-new-todo-wrapper .add-new-todo-input {
  background-color: #2e2f30;
  color: #ffffff;
}

.task-settings-add-note textarea {
  border: 0px;
  resize: none;
}

#lightTheme,
#darkTheme,
#toggleTodoCheckbox,
#toggleTodoCheckbox-template,
#searchTaskCheckbox,
#addStepCheckbox-template {
  position: absolute;
  opacity: 0;
}

.todos p,
.task-settings-title p,
ul.searchList li p {
  margin-left: 10px;
}

p.lineThrough {
  text-decoration: line-through;
}

.settings-header img,
.theme-sets label.ligthTheme-label,
.theme-sets label.darkTheme-label,
.todos label.toggleTodoLabel,
.task-settings label.toggleTaskLabel,
ul.searchList label.searchTaskLabel,
.add-new-todo-wrapper label.toggleTodoLabel-template {
  width: 20px;
  height: 20px;
  margin: 0;
}

.theme-sets label.ligthTheme-label,
.theme-sets label.darkTheme-label {
  position: relative;
  float: left;
  margin-right: 10px;
}

.theme-sets label.ligthTheme-label.checked > span,
.theme-sets label.darkTheme-label.checked > span,
.todos label.toggleTodoLabel.done > span,
.task-settings label.toggleTaskLabel.done > span,
ul.searchList label.searchTaskLabel.toggled > span,
.add-new-todo-wrapper label.toggleTodoLabel-template.toggled > span {
  background-color: limegreen;
}

.theme-sets label.ligthTheme-label > span,
.theme-sets label.darkTheme-label > span,
.todos label.toggleTodoLabel > span,
.task-settings label.toggleTaskLabel > span,
ul.searchList label.searchTaskLabel > span,
.add-new-todo-wrapper label.toggleTodoLabel-template > span {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgray;
  border-radius: 50%;
  color: white;
}

.theme-sets label.ligthTheme-label.checked > span:after,
.theme-sets label.darkTheme-label.checked > span:after,
.todos label.toggleTodoLabel.done > span:after,
.task-settings label.toggleTaskLabel.done > span:after,
ul.searchList label.searchTaskLabel.toggled > span:after,
.add-new-todo-wrapper label.toggleTodoLabel-template.toggled > span:after {
  content: '\2713';
  position: absolute;
}

.search-modal .clearSearch,
.todo-list-wrapper .clearInput {
  position: absolute;
  top: 0;
  right: 0;
  color: cornflowerblue;
  background-color: transparent;
  border-color: transparent;
}

.dark .clearInput {
  color: #000;
}

.settings-header button,
.search-modal button.cancel-seacrh,
.todo-list-wrapper button.add-new-todo-button,
button.task-settings-arrow-right,
button.task-settings-trash {
  background-color: transparent;
  color: cornflowerblue;
  border-color: transparent;
  font-size: 13px;
}

.todo-list-wrapper button.add-new-todo-button.active,
button.task-settings-arrow-right,
button.task-settings-trash {
  font-size: 14.5px;
  display: inline-block;
}

.active,
.add-new-todo-wrapper .add-new-todo-input,
.add-new-step-wrapper .add-new-step-input {
  display: block;
}

.inactive {
  display: none;
}

.jumbotron-button {
  height: 50px;
  border-radius: 0;
  padding: 3px;
}

.jumbotron-button.active {
  display: inline-block;
  border: 2px solid blue;
}

.jumbotron-button > span {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.task-settings-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

span.orange {
  background-color: orange;
}

span.green {
  background-color: green;
}

span.red {
  background-color: red;
}

span.blueviolet {
  background-color: blueviolet;
}

span.blue {
  background-color: blue;
}

.theme-image {
  width: 50px;
}

.user-info,
.user-settings.active div {
  display: flex;
  align-items: center;
}

.user-info {
  margin: 10px auto;
}

.user-settings.active img,
.user-info .user-settings-button p:first-of-type {
  display: inline-block;
  margin: 0 10px;
}

button.search,
button.user-settings-button {
  margin: 0 0 0 auto;
  padding: 0 12px;
  border: 0px;
  background-color: transparent;
}

.dark button.user-settings-button {
  color: #ffffff;
}

.user-info img,
button.search > img {
  width: 35px;
  height: 35px;
}

.user-settings.active {
  position: absolute;
  width: 260px;
  margin: 10px auto 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100px;
}

.light .user-settings {
  border: 1px solid rgba(0,0,0,.1);
  background-color: #ffffff;
}

.dark .user-settings {
  border: 1px solid rgba(255,255,255,.5);
  background-color: #2e2f30;
}

.user-settings.active hr {
  width: 100%;
  margin: 5px 0;
}

.dark .user-settings hr {
  border-top: 1px solid rgba(255,255,255,.5);
}

.user-settings.active p {
  margin: 10px;
}

.user-settings.active div:last-of-type p:last-of-type {
  color: red;
}

.user-info-settings {
  width: 300px;
}

.user-info,
.user-info-buttons,
.user-settings-button,
.add-new-todo-wrapper,
.add-new-todo-wrapper > div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.user-info {
  flex-flow: column wrap;
}

.add-new-list {
  text-align: left;
  padding: 0 30px;
}

.todo-list-wrapper .clearInput {
  padding: 1px 6px;
  border: 2px solid transparent;
}

input.add-new-list-label {
  margin: 0 10px;
}

.dark .add-new-list input {
  background-color: #1a1b1c;
  color: #ffffff;
  border: 1px solid #ffffff;
}

a.add-new-list-link,
div.sort-settings-link,
div.show-hide_completed_todos,
.task-settings ul li {
  display: flex;
  align-items: center;
}

a.add-new-list-link > span {
  font-size: 30px;
  margin-right: 10px;
}

.sort-settings-menu img,
div.sort-settings-link img,
div.show-hide_completed_todos img,
.task-settings img {
  width: 15px;
  height: 15px;
}

div.sort-settings-link img:last-of-type {
  margin: 0 10px 0 auto
}

.sort-settings-menu img,
div.sort-settings-link img:first-of-type,
div.show-hide_completed_todos img {
  margin-right: 10px
}

.task-settings-title,
.add-new-step-wrapper,
.task-settings-add-to-my-day,
.task-settings-additional,
.task-settings-add-note,
.task-settings-footer {
  background-color: #ffffff;
}

.task-settings-additional li p {
  border-bottom: 1px solid lightgray;
}

.task-settings-additional li:last-of-type p{
  border: 0;
}

.task-settings-add-to-my-day ul,
.task-settings-additional ul,
ul.searchList {
  list-style-type: none;
  padding: 0 0 0 10px;
  margin: 0;
  width: 100%;
}

.task-settings-add-to-my-day,
.task-settings-additional,
.task-settings-add-note {
  margin: 10px;
}

#bannerSettings .modal-dialog {
  float: right;
  margin-top: 160px;
  margin-right: 18%;
}

#thirdPartyNotices .modal-header {
  border: 0px;
  min-height: 50px;
}

#thirdPartyNotices .modal-header .close {
  padding: 10px;
  margin: -10px -10px -10px auto;
}

#thirdPartyNotices .modal-header .close:hover {
  background-color: lightgrey;
}

#thirdPartyNotices .modal-content,
#bannerSettings .modal-content {
  border-radius: 0px;
}

#thirdPartyNotices .modal-content {
  max-width: 340px;
  margin: 0 auto;
  max-height: 410px;
}

#thirdPartyNotices .modal-body {
  overflow-y: auto;
}

#bannerSettings .modal-body {
  padding: 0px;
}

#bannerSettings .modal-body > div,
.task-settings-title,
.add-new-step-wrapper,
.task-settings-additional li p,
.task-settings-add-to-my-day li p,
.task-settings-add-note textarea::placeholder,
.task-settings-footer {
  padding: 10px
}

.dark .modal-content,
.dark .search-modal,
.dark #bannerSettings .sort-settings-menu > div {
  background-color: #2e2f30;
}

.task-settings-title {
  padding-top: 30px;
  line-height: 1;
  font-size: 20px;
  font-weight: bolder;
}

#bannerSettings .sort-settings-menu > div {
  padding: 10px;
  display: flex;
  align-items: center;
}

#bannerSettings .modal-body div.sort-settings-menu {
  position: absolute;
  overflow: hidden;
  height: 0px;
  transition: height 1s ease;
  background-color: #ffffff;
  left: -164px;
  top: 1px;
  padding: 0px;
  border: 0px;
}


#bannerSettings .modal-body div.sort-settings-menu.active {
  height: 222px;
  transition: height 1s ease;
  border: 1px solid rgba(0,0,0,.2);
}

#bannerSettings div.sort-settings-link:hover,
#bannerSettings div.sort-settings-menu div:hover,
#bannerSettings div.sort-settings-link.grey,
.task-settings {
  background-color: lightgray;
}


.rightPanel,
.task-settings > div,
.add-new-step-wrapper .add-new-step,
.add-new-step-wrapper .add-new-step > div,
ul.searchList li,
.show-hide_completed_todos p,
#bannerSettings .sort-settings-menu > div {
  display: flex;
}

.modal-backdrop.show {
  opacity: 0;
}

.task-settings {
  height: 100%;
  position: relative;
  width: 450px;
}