body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100vh;
  background-color: grey;
  padding: 20px 0;
}

body p,
.panelBanner-text h3,
#bannerSettings .sort-settings-menu > div > p {
  margin: 0;
}

.container {
  position: relative;
  height: 650px;
  max-width: 920px;
  margin: auto;
  margin-right: 18%;
}

.light {
  background-color: #ffffff;
  color: #2e2f30;
}

.dark {
  background-color: #2e2f30;
  color: #ffffff;
}

.container button,
.container input,
.container link {
  outline: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

audio {
  visibility: hidden;
}

.confirmDeleteModal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.confirmDeleteModal-child {
  position: relative;
  background-color: #ffffff;
  max-width: 300px;
  top: calc(50% - (300px/2));
  margin: 0 auto;
  padding: 25px 20px;
}

.confirmDeleteModal-child  .button-group {
  display: table;
  margin: 30px 0 0 auto;
}

.confirmDeleteModal-child  .button-group button:first-of-type {
  margin-right: 10px;
}

.confirmDeleteModal-child  .button-group button {
  border-radius: 0;
}

.row {
  height: 100%;
}

.leftPanel {
  border-right: 1px solid grey;
}

.rightPanel,
.leftPanel {
  padding: 0;
}

.user-settings-page.active {
  position: absolute;
  max-height: 650px;
  max-width: 920px;
  width: 100%;
  height: 100%;
}

.light .user-settings-page {
  background-color: #fff;
  color: #2e2f30;
}

.dark .user-settings-page {
  background-color: #2e2f30;
  color: #ffffff;
}

.settings-header,
.settings-general-info .user-manage {
  display: flex;
  align-items: center;
}

.user-settings-page section > section {
  margin: 20px 0 10px;
}

.user-settings-page section.settings-general-info {
  overflow-y: auto;
  max-height: 555px;
}

.user-settings-page section.settings-general-info .general-sets {
  flex-flow: column wrap;
  align-items: flex-start;
}

.user-settings-page section.settings-general-info > * {
  width: 100%;
}

.user-manage > div * {
  margin: 0 0 0 10px;
}

.user-settings-page img {
  width: 60px;
}

.settings-header {
  margin: 20px 30px;
}

.settings-header button {
  padding: 6px 12px;
}

.settings-header button:active {
  background-color: lightgrey;
}

.theme-sets p {
  margin-bottom: 5px;
}

.settings-general-info {
  padding: 30px 50px 10px 150px;
}

.settings-general-info section a {
  margin-top: 5px;
  color: cornflowerblue;
  text-decoration: underline;
}

.settings-general-info .user-manage a {
  margin: 0 0 0 auto;
  padding: 6px 10px;
  font-weight: bolder;
  text-decoration: none;
  border: 2px solid transparent;
}

.light .settings-general-info .user-manage a {
  color: slategray;
  background-color: lightgrey;
}

.dark .settings-general-info .user-manage a {
  color: #ffffff;
  background-color: #5c6066;
}

.settings-general-info .user-manage a:hover {
  border: 2px solid slategray;
}

.settings-general-info .user-manage a:active {
  background-color: slategray;
  color: black;
}

.settings-general-info .help-feedback a,
.settings-general-info .about-section a {
  display: block;
  width: fit-content;
}

#thirdPartyNotices {
  background-color: rgba(0, 0, 0, 0.5);
}

.panelBanner {
  display: flex;
  flex-flow: column;
  min-height: 200px;
}

.panelBanner.with-sort {
  min-height: 250px;
}

.panelBanner-wrapper{
  width: 100%;
  position: absolute;
  top: 0;
  filter: opacity(50%);
}

.panelBanner-text {
  margin: 15px;
  text-align: left;
  color: #fff;
  font-weight: 900;
  position: relative;
}

.panelBanner .banner-main-section {
  margin-top: auto;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.panelBanner .banner-sort {
  position: relative;
  min-height: 20px;
  padding: 10px 10px 10px 50px;
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}

.panelBanner .banner-sort button {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  position: relative;
  padding: 5px 15px;
}

.panelBanner .banner-sort button.clear-banner-sort {
  margin-left: auto;
}

.panelBanner .banner-sort button.change-sort-order {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 10px;
}

.panelBanner .banner-sort button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.panelBanner .banner-sort .change-sort-order img {
  width: 12px;
  height: 12px;
}

button.open-greeting,
button.dots-menu {
  border: 0;
  border-radius: 0;
  margin: 15px;
  position: relative;
  filter: opacity(.5);
}

button.open-greeting {
  padding: 6px 12px;
  border: 0;
}

.todo-list-wrapper {
  max-height: 450px;
  height: 100%;
  position: relative;
}

.light .todo-list-wrapper {
  background-color: #ffffff;
}

.dark .todo-list-wrapper {
  background-color: #2e2f30;
}

div.todo-list {
  text-align: left;
  width: 100%;
}

div.todo-list div.todos {
  border-bottom: 1px solid darkgray;
  padding: 8px 15px;
  height: 50px;
  display: flex;
  align-items: center;
}

.task-title-wrapper {
  width: 100%;
}

.label-wrapper-for-task {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 20px;
}

.label-wrapper-for-task > div {
  position: absolute;
  flex-flow: row;
  width: 570px;
  display: flex;
}

.label-wrapper-for-task p {
  font-size: 12px;
}

.leftPanel ul {
  padding: 10px 0;
  max-width: 100%;
  margin: 0;
}

.leftPanel ul li {
  text-align: left;
  padding: 0 8px;
  border-left: 5px solid transparent;
}

.leftPanel ul li.active {
  border-left: 5px solid blue;
  background-color: lightgray;
}

#bannerSettings {
  position: absolute;
  top: 187px;
  right: 0;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid #5c6066;
}

.panelBanner.responsive #bannerSettings {
  right: 200px;
}

.dark .leftPanel ul li.active,
.dark #bannerSettings div.sort-settings-menu div:hover,
.dark #bannerSettings div.sort-settings-link:hover,
.dark #bannerSettings div.sort-settings-link.grey {
  background-color: #5c6066;
}

.dark .task-settings {
  border: 1px solid lightgrey;
  background-color: #1a1b1c;
}

.dark .task-settings > * {
  background-color: #2e2f30;
}

.leftPanel .nav-link {
  display: flex;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
}

.todos .important-icon img,
.open-greeting img,
.leftPanel .nav-link img,
.user-settings.active img,
.task-settings img {
  width: 18px;
  margin-right: 10px;
}

.open-greeting img {
  margin-right: 0;
  filter: invert(1);
}

.greetings-panel {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #3771ce;
  padding: 50px 20px;
  color: #ffffff;
  z-index: 1;
}

.greeting-header-section .done-greetings {
  color: #ffffff;
}

.greeting-header-section,
.greeting-suggestion-yesterday header,
.greeting-suggestion-section header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting-header-section {
  margin: 15px 0;
}

.greeting-suggestion-yesterday header,
.greeting-suggestion-section header {
  padding: 10px;
  border-bottom: 1px solid #555555;
}

.greeting-suggestion-yesterday section,
.greeting-suggestion-section section {
  padding: 10px;
}

.greeting-suggestion-yesterday section p:last-of-type,
.greeting-suggestion-section section p:last-of-type {
  font-size: 12px;
}

.greeting-suggestion-yesterday header h5,
.greeting-suggestion-section header h5 {
  margin-bottom: 2px;
}

.greeting-suggestion-yesterday header p,
.greeting-suggestion-section header p {
  display: flex;
}

.greeting-suggestion-yesterday header p,
.greeting-suggestion-section header p,
.greeting-suggestion-section section p:last-of-type {
  color: #5c6066;
  font-weight: 700;
  font-size: 14px;
}

.greeting-suggestion-yesterday header button,
.greeting-suggestion-section header button {
  background-color: transparent;
  border: 0;
  margin: 0 10px;
}

.greeting-header-section button {
  background-color: blue;
  border: 0;
  padding: 10px 15px;
}

.greeting-suggestion-yesterday,
.greeting-suggestion-section {
  background-color: #ffffff;
  color: #2e2f30;
  flex-flow: column;
}

.greeting-suggestion-yesterday .done-tasks-indicator {
  width: 100%;
  height: 2px
}

.greeting-suggestion-yesterday {
  margin-bottom: 10px;
}

.greeting-suggestion-yesterday header p img:last-of-type,
.greeting-suggestion-section header p img:last-of-type {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.greeting-suggestion-yesterday img:last-of-type,
.greeting-suggestion-section img:last-of-type {
  width: 12px;
  margin-right: 7px;
}

.greeting-suggestion-yesterday button.collapse-suggestions,
.greeting-suggestion-section button.collapse-suggestions {
  padding: 2px 5px;
}

.task-settings ul li button.clear-from-my-day:hover,
.task-settings-additional span.clear-repeat:hover,
.task-settings-additional span.clear-remind-date:hover,
.task-settings-additional span.clear-due-date:hover,
.greeting-suggestion-yesterday button.collapse-suggestions:hover,
.greeting-suggestion-section button.collapse-suggestions:hover {
  background-color: rgb(221, 221, 221);
}

.panelBanner .banner-sort .change-sort-order.down img,
.greeting-suggestion-yesterday button.collapse-suggestions.down img,
.greeting-suggestion-section button.collapse-suggestions.down img {
  transform: rotate(90deg);
  margin: 5px;
}
.panelBanner .banner-sort .change-sort-order.up img,
.greeting-suggestion-yesterday button.collapse-suggestions.up img,
.greeting-suggestion-section button.collapse-suggestions.up img {
  transform: rotate(-90deg);
  margin: 5px;
}

.greeting-suggestion-section section.suggested-tasks {
  display: flex;
}

.greeting-suggestion-section section.suggested-tasks button {
  margin-right: 10px;
  border: 0;
  background-color: transparent;
  color: cornflowerblue;
}

.greeting-suggestion-section section.suggested-tasks button:first-of-type {
  font-size: 26px;
}

.greeting-suggestion-section section.suggested-tasks .suggested-tasks-settings {
  margin-left: auto;
}

.greeting-suggestion-section .suggested-task-parent {
  display: inline-block;
  margin-right: 10px;
}

.todos .important-icon img {
  margin: 0;
}

.leftPanel .nav-link p,
div.sort-settings-link p {
  margin: 0;
}

.leftPanel .nav-link span {
  margin: 0 10px 0 auto;
  font-size: 13px;
}

.search-modal {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.search-modal div.background-wrapper {
  padding: 40px 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-modal div.background-wrapper div.search-input-wrapper,
.add-new-step-wrapper .add-new-step,
.user-info-settings {
  position: relative;
  width: 100%;
}

.task-middle-settings-wrapper {
  flex-flow: column;
  max-height: 520px;
  overflow-y: auto;
}

.task-settings .step-title {
  background-color: #ffffff;
  padding: 5px 10px;
}

.dark .task-settings .step-title {
  background-color: #888888;
}

.task-settings .step-title .steps-trash {
  display: none;
}
.task-settings .step-title:hover .steps-trash {
  display: inline-flex;
  margin-left: auto;
  background-color: transparent;
  border: 0;
}

.dark .confirmDeleteModal-child,
.dark .add-new-step-wrapper .add-new-step-input,
.dark .task-settings-add-note textarea,
.dark .search-modal div.background-wrapper div.search-input-wrapper input {
  background-color: #2e2f30;
  color: #ffffff;
}

.dark .confirmDeleteModal-child,
.dark .search-modal div.background-wrapper div.search-input-wrapper input {
  border: 1px solid lightgrey;
}

.search-modal hr {
  margin-top: 0.5rem;
}

.search-modal input,
.todo-list-wrapper .add-new-todo,
.add-new-todo-wrapper .add-new-todo-input,
.add-new-step-wrapper .add-new-step,
.task-settings-footer p,
.task-settings ul li p,
.rightPanel > div {
  width: 100%;
}

.task-settings-footer p {
  font-size: 13px;
}

.search-modal div > img {
  width: 50%;
  margin: 0 auto;
}

.add-new-todo-wrapper .add-new-todo-input,
.add-new-step-wrapper .add-new-step-input {
  border-color: transparent;
}

.task-settings .activateStepInput,
.add-new-todo-wrapper .add-new-todo-input.inactive::placeholder {
  color: cornflowerblue;
  padding-left: 10px;
}

.task-settings-add-note textarea::placeholder {
  color: cornflowerblue;
}

.add-new-step-wrapper .add-new-step-input::placeholder,
.add-new-todo-wrapper .add-new-todo-input.activated::placeholder {
  color: darkslateblue;
}

.dark .add-new-todo-wrapper .add-new-todo-input {
  background-color: #2e2f30;
  color: #ffffff;
}

.task-settings-add-note textarea {
  outline: 0;
  border: 0;
  resize: none;
}

#lightTheme,
#darkTheme,
#toggleTodoCheckbox,
#toggleTodoCheckbox-template,
#searchTaskCheckbox,
#addStepCheckbox-template {
  position: absolute;
  opacity: 0;
}

.todos p,
.task-settings-title p,
ul.searchList li p {
  margin-left: 10px;
}

p.lineThrough {
  text-decoration: line-through;
}

.settings-header img,
.change-todo-icon img,
.theme-sets label.ligthTheme-label,
.theme-sets label.darkTheme-label,
.todos label.toggleTodoLabel,
.task-settings label.toggleTaskLabel,
ul.searchList label.searchTaskLabel,
.add-new-todo-wrapper label.toggleTodoLabel-template {
  width: 20px;
  height: 20px;
  margin: 0;
}

.icons-menu-wrapper {
  top: 100%;
  width: 203px;
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #1a1b1c;
}

.dark .icons-menu-wrapper {
  background-color: #5c6066;
  border-color: #888888;
}

.icons-menu-wrapper .clear-icon {
  color: #2e2f30;
  font-size: 13px;
  text-align: center;
}

.icons-menu-wrapper .clear-icon p {
  padding: 2px 0;
}

.icons-menu-wrapper .clear-icon p:hover {
  background-color: lightgrey;
}


.icons-menu img {
  width: 40px;
  height: 40px;
  padding: 8px;
  border: 1px solid transparent;
}

.icons-menu img:hover {
  border-color: lightgrey;
}

.rename-list-wrapper {
  max-width: 240px;
  background-color: rgba(46, 47, 48, 0.4);
}

.dark .rename-list-wrapper {
  background-color: rgba(92, 96, 102, 0.6);
}

input.rename-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.2;
  color: inherit;
  background-color: transparent;
  border: 0 solid transparent;
}

.theme-sets label.ligthTheme-label,
.theme-sets label.darkTheme-label {
  position: relative;
  float: left;
  margin-right: 10px;
}

.theme-sets label.ligthTheme-label.checked > span,
.theme-sets label.darkTheme-label.checked > span,
.todos label.toggleTodoLabel.done > span,
.task-settings label.toggleTaskLabel.done > span,
.task-settings label.toggleStepLabel.done > span,
ul.searchList label.searchTaskLabel.toggled > span,
.add-new-todo-wrapper label.toggleTodoLabel-template.toggled > span {
  background-color: limegreen;
}

.theme-sets label.ligthTheme-label > span,
.theme-sets label.darkTheme-label > span,
.todos label.toggleTodoLabel > span,
.task-settings label.toggleStepLabel > span,
.task-settings label.toggleTaskLabel > span,
ul.searchList label.searchTaskLabel > span,
.add-new-todo-wrapper label.toggleTodoLabel-template > span {
  background-color: #ffffff;
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgray;
  border-radius: 50%;
  color: white;
}

.theme-sets label.ligthTheme-label.checked > span:after,
.theme-sets label.darkTheme-label.checked > span:after,
.todos label.toggleTodoLabel.done > span:after,
.task-settings label.toggleStepLabel.done > span:after,
.task-settings label.toggleTaskLabel.done > span:after,
ul.searchList label.searchTaskLabel.toggled > span:after,
.add-new-todo-wrapper label.toggleTodoLabel-template.toggled > span:after {
  content: '\2713';
  position: absolute;
}

.task-settings label.toggleStepLabel,
.task-settings label.toggleStepLabel > span {
  width: 16px;
  height: 16px;
}

.task-settings label.toggleStepLabel {
  margin: 0;
}

.task-settings label.toggleStepLabel + p,
.task-settings .activateStepInput,
.task-settings .add-new-step input,
.add-new-step-wrapper input::placeholder {
  font-size: 14px;
  padding-left: 10px;
}

.add-new-step-wrapper input::placeholder {
  padding-left: 0;
}

.search-modal .clearSearch,
.todo-list-wrapper .clearInput {
  position: absolute;
  top: 0;
  right: 0;
  color: cornflowerblue;
  background-color: transparent;
  border-color: transparent;
}

.dark .clearInput {
  color: #000;
}

.settings-header button,
.search-modal button.set-filter,
.todo-list-wrapper button.add-new-todo-button,
button.task-settings-arrow-right,
button.task-settings-trash {
  background-color: transparent;
  color: cornflowerblue;
  border-color: transparent;
  font-size: 13px;
}

.search-modal button.set-filter {
  padding: 2px 10px;
}

.search-modal .filter-menu {
  font-size: 12px;
  position: absolute;
  right: 5px;
  padding: 4px 15px;
  background-color: #fff;
  border: 1px solid darkgrey;
  top: 74px;
}

.todo-list-wrapper button.add-new-todo-button.active,
button.task-settings-arrow-right,
button.task-settings-trash {
  font-size: 14.5px;
  display: inline-block;
}

.active,
.add-new-todo-wrapper .add-new-todo-input,
.add-new-step-wrapper .add-new-step-input {
  display: block;
}

.todo-label-for-task,
.task-notes {
  font-size: 12px;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-self: left;
}

.todo-label-for-task img,
.task-notes img,
.remind-date-label img,
.due-date-label img,
.repeat-date-label img {
  max-width: 10px;
  margin-right: 3px;
}

.inactive {
  display: none;
}

.jumbotron-button {
  height: 50px;
  border-radius: 0;
  padding: 3px;
}

.jumbotron-button.active {
  display: inline-block;
  border: 2px solid blue;
}

.jumbotron-button > span {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.task-settings-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

span.orange {
  background-color: orange;
}

span.green {
  background-color: green;
}

span.red {
  background-color: red;
}

span.blueviolet {
  background-color: blueviolet;
}

span.blue {
  background-color: blue;
}

.theme-image {
  width: 50px;
}

button.change-todo-icon,
.panelBanner-text > div:first-of-type,
.user-info,
.task-settings-footer,
.user-settings.active div,
.task-settings .add-new-step-wrapper .add-new-step {
  display: flex;
  align-items: center;
}

.panelBanner-text > div > h3,
.panelBanner-text .date-time {
  margin-left: 40px;
}

.panelBanner-text > div > button + h3,
.panelBanner-text > div > .icons-menu-wrapper + h3 {
  margin-left: 3px;
}

#bannerSettings hr,
.user-info {
  margin: 10px auto;
}

.user-settings.active img,
.user-info .user-settings-button p:first-of-type {
  display: inline-block;
  margin: 0 10px;
}

button.search,
button.change-todo-icon,
.todos .important-icon,
button.user-settings-button {
  margin: 0 0 0 auto;
  padding: 0 12px;
  border: 0;
  background-color: transparent;
}

.dark button.user-settings-button {
  color: #ffffff;
}

.user-info img,
button.search > img {
  width: 35px;
  height: 35px;
}

.user-settings.active {
  position: absolute;
  width: 260px;
  margin: 10px auto 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100px;
}

.light .user-settings {
  border: 1px solid rgba(0,0,0,.1);
  background-color: #ffffff;
}

.dark .user-settings {
  border: 1px solid rgba(255,255,255,.5);
  background-color: #2e2f30;
}

.user-settings.active hr {
  width: 100%;
  margin: 5px 0;
}

.dark .user-settings hr {
  border-top: 1px solid rgba(255,255,255,.5);
}

.user-settings.active p {
  margin: 10px;
}

.user-settings.active div:last-of-type p:last-of-type {
  color: red;
}

.user-info-settings {
  width: 300px;
}

.user-info,
.user-info-buttons,
.user-settings-button,
.add-new-todo-wrapper,
.add-new-todo-wrapper > div {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.user-info {
  flex-flow: column wrap;
}

.add-new-list {
  text-align: left;
  padding: 0 30px;
}

.todo-list-wrapper .clearInput {
  padding: 1px 6px;
  border: 2px solid transparent;
}

input.add-new-list-label {
  margin: 0 10px;
}

.dark .add-new-list input {
  background-color: #1a1b1c;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.task-settings .step-title,
a.add-new-list-link,
div.sort-settings-link,
div.show-hide_completed_todos,
.task-settings ul li {
  display: flex;
  align-items: center;
}

.task-settings ul li p.added {
  color: cornflowerblue;
}

.task-settings ul li button.clear-from-my-day {
  width: 44px;
  height: 44px;
  border: 0px;
  background-color: inherit;
}

.task-settings ul li button.clear-from-my-day p {
  padding: 2px 4px;
}

.task-settings .important-icon {
  margin: 0 0 0 auto;
  display: flex;
  border: 0;
  background-color: transparent;
}

.task-settings .important-icon img {
  margin-right: 0;
}

a.add-new-list-link > span {
  font-size: 30px;
  margin-right: 10px;
}

.sort-settings-menu img,
div.sort-settings-link img,
div.show-hide_completed_todos img {
  width: 15px;
  height: 15px;
}

div.sort-settings-link img:last-of-type {
  margin: 0 10px 0 auto
}

div.sort-settings-link img.important {
  margin-left: 10px;
}

.sort-settings-menu img,
div.sort-settings-link img:first-of-type,
div.show-hide_completed_todos img {
  margin-right: 10px
}

.task-settings-title,
.add-new-step-wrapper,
.task-settings-add-to-my-day,
.task-settings-additional,
.task-settings-add-note,
.task-settings-footer,
.activateStepInput {
  background-color: #ffffff;
}

.task-settings-additional li p {
  border-bottom: 1px solid lightgray;
}

.task-settings-additional li:last-of-type p{
  border: 0;
}

.task-settings-additional .remind-me > div,
.task-settings-additional .repeat > div,
.task-settings-additional .due-date > div {
  display: contents;
  width: 100%;
}

.task-settings-additional .activeOption {
  color: cornflowerblue;
}

.task-settings-additional .remind-me.activeOption > div > p,
.task-settings-additional .repeat.activeOption > div > p {
  padding-top: 2px;
  padding-bottom: 2px;
}

.task-settings-additional .remind-me.activeOption > div > span,
.task-settings-additional .due-date.activeOption > div > span,
.task-settings-additional .repeat.activeOption > div > span {
  color: #000000;
}

.task-settings-additional span.date-label {
  display: block;
  font-size: 13px;
  line-height: 15px;
}

.task-settings-additional span.clear-remind-date,
.task-settings-additional span.clear-due-date,
.task-settings-additional span.clear-repeat {
  padding: 0 15px;
  line-height: 44px;
  border-bottom: 1px solid lightgray;
}

.task-settings-additional span.clear-repeat {
  border-bottom: 0;
}

.task-settings-additional span.clear-repeat,
.task-settings-additional span.clear-due-date {
  line-height: 45px;
}

.DayPicker.pick-date-calendar .DayPicker-wrapper,
.task-settings-additional .pick-date-calendar .rc-calendar-panel,
.task-settings-additional .due-date-calendar .rc-calendar-panel {
  position: absolute;
  border: 1px solid #888888;
  background-color: #ffffff;
  text-align: center;
}

.dark .DayPicker.pick-date-calendar .DayPicker-wrapper,
.dark .task-settings-additional .pick-date-calendar .rc-calendar-panel,
.dark .task-settings-additional .due-date-calendar .rc-calendar-panel {
  background-color: #5c6066;
}

.task-settings-additional .reminder-window ul,
.task-settings-additional .repeat-window ul {
  position: absolute;
  right: 5px;
  max-width: 250px;
  border: 1px solid #888888;
  background-color: #ffffff;
  padding: 0;
}

.dark .task-settings-additional .reminder-window ul,
.dark .task-settings-additional .repeat-date-picker {
  background-color: #5c6066;
}

.task-settings-additional .reminder-window ul li,
.task-settings-additional .repeat-window ul li {
  border: 0;
  padding-left: 10px;
}

.task-settings-additional .reminder-window ul li p {
  border: 0;
  width: auto;
}

.task-settings-additional .reminder-window ul li span {
  margin: 0 5px 0 auto;
}

.task-settings-additional .reminder-window ul li:last-of-type {
  border-top: 1px solid lightgray;
}

.task-settings-additional .repeat-date-picker {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  width: 250px;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid #888888;
}

.task-settings-additional .repeat-date-picker p {
  padding: 0 0 10px 0;
}

.task-settings-additional .repeat-date-picker .days-picker {
  margin: 7px 0;
}

.task-settings-additional span.repeat-day-label {
  margin: 4px;
  line-height: 1.1;
  display: inline-block;
  background-color: lightgrey;
  padding: 7px;
}

.task-settings-additional span.repeat-day-label.selected {
  background-color: cornflowerblue;
  color: #ffffff;
}

.task-settings-additional .repeat-date-picker .picker-value {
  max-width: 80px;
}

.task-settings-additional .repeat-date-picker .picker-type {
  height: 30px;
  width: 100%;
  max-width: 142px;
  display: inline-block;
  float: right;
}

.task-settings-additional .repeat-date-picker .btn-group {
  display: flex;
}

.task-settings-additional .repeat-date-picker button {
  border: 0;
  width: 50%;
}

.task-settings-additional .repeat-date-picker button:first-of-type {
  margin-right: 2px;
}

.task-settings-additional .repeat-date-picker button:last-of-type {
  margin-left: 2px;
}

.task-settings-add-to-my-day ul,
.task-settings-additional ul,
ul.searchList {
  list-style-type: none;
  padding: 0 0 0 10px;
  margin: 0;
  width: 100%;
}

.task-settings-add-to-my-day,
.task-settings-additional,
.task-settings-add-note {
  margin: 10px;
}

#thirdPartyNotices .modal-header {
  border: 0;
  min-height: 50px;
}

#thirdPartyNotices .modal-header .close {
  padding: 10px;
  margin: -10px -10px -10px auto;
}

#thirdPartyNotices .modal-header .close:hover {
  background-color: lightgrey;
}

#thirdPartyNotices .modal-content {
  border-radius: 0;
}

#thirdPartyNotices .modal-content {
  max-width: 340px;
  margin: 0 auto;
  max-height: 410px;
}

#thirdPartyNotices .modal-body {
  overflow-y: auto;
}

.task-settings-title,
.add-new-step-wrapper,
.activateStepInput,
.task-settings-additional li p,
.task-settings-add-to-my-day li p,
.task-settings-footer {
  padding: 10px
}

.task-settings-add-note {
  padding: 10px;
  flex-flow: column;
  min-height: 178px;
  display: flex;
}

.task-settings-add-note .btn-group {
  margin-left: auto;
}

.task-settings-add-note button {
  margin-left: 10px;
  border: 0;
  padding: 5px 10px;
}

.dark .modal-content,
.dark .search-modal,
.dark #bannerSettings .sort-settings-menu > div {
  background-color: #2e2f30;
}

.task-settings-title {
  padding-top: 30px;
  padding-bottom: 20px;
  line-height: 1;
  font-size: 20px;
  font-weight: bolder;
}

#bannerSettings .sort-settings-menu > div {
  padding: 10px;
  display: flex;
  align-items: center;
}

#bannerSettings div.sort-settings-menu {
  position: absolute;
  overflow: hidden;
  height: 0;
  min-width: 164px;
  transition: height 1s ease;
  background-color: #ffffff;
  left: -164px;
  top: 1px;
  padding: 0;
  border: 0;
}


#bannerSettings div.sort-settings-menu.active {
  transition: height 1s ease;
  border: 1px solid rgba(0,0,0,.2);
}

#bannerSettings div.sort-settings-link:hover,
#bannerSettings div.sort-settings-menu div:hover,
#bannerSettings div.sort-settings-link.grey,
.task-settings {
  background-color: lightgray;
}


.rightPanel,
.task-settings > div,
ul.searchList li,
.show-hide_completed_todos p,
#bannerSettings .sort-settings-menu > div {
  display: flex;
}

#bannerSettings > div {
  padding: 10px;
}

.modal-backdrop.show {
  opacity: 0;
}

.task-settings {
  height: 100%;
  position: relative;
  width: 450px;
}